{% extends "layout.html" %} {% block content %}


<section class="hero-wrap" style="background-image: url(/static/images/book.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">
                    <h2>TRACE</h2>
                    <h4 class="mb-5">A tracking system for your books and TV series.</h4>
                    <p><a href="/tv" class="btn btn-outline-primary px-5 py-4 mb-2"><i class="ion-ios-film mr-2"></i>TV Series</a>
                        <a href="/bookpage" class="btn btn-outline-primary px-5 py-4 mb-2"><i class="ion-ios-book mr-2"></i>Books</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#navigationTabs" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</section>

<section class="ftco-section ftco-section-2" id="navigationTabs">

    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-lg-6 mb-5 mb-md-0">
                <h2 class="heading-section mb-4">Watching List</h2>
                {% if watching != None %} {% for item in watching %}
                <form id='tv-form{{item[0]}}' action="" method="POST">
                    <input type="hidden" name="tv_id" value="{{item[0]}}" />
                    <h2 class="heading-section mb-3">
                        <a class="text-white-50" href="javascript:{}" onclick="document.getElementById('tv-form{{item[0]}}').submit();">
                            <i span style="color:yellow" class="ion-ios-film mr-2"></i> {{watching[item][0]}}
                            <br></a>
                    </h2>

                </form>

                {% endfor %}{% endif %}
            </div>




        </div>
</section>




{% endblock content %}