{% extends "layout.html" %} {% block content %}


<section class="hero-wrap" style="background-image: url(/static/images/book.jpeg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">
                    <h2>TRACE</h2>
                    <h4 class="mb-5">A tracking system for your books and TV series.</h4>
                    <p><a href="/tv" class="btn btn-outline-primary px-5 py-4 mb-2"><i class="ion-ios-film mr-2"></i>TV Series</a>
                        <a href="/bookpage" class="btn btn-outline-primary px-5 py-4 mb-2"><i class="ion-ios-book mr-2"></i>Books</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#navigationTabs" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</section>


</section>



{% endblock content %}