{% extends "layout.html" %} {% block content %}

<section class="hero-wrap" style="background-image: url(/static/images/background.png);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">

                <div class="card card-login py-4">
                    <form class="form-login" method="POST" action="">
                        {{form.hidden_tag()}}
                        <div class="card-header card-header-primary text-center">
                            <h1 class="card-title mb-4">Sign up</h1>
                        </div>
                        <div class="card-body pb-4 pt-8">

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                          <i class="ion-ios-contact"></i>
                                      </span>
                                </div>
                                {% if form.name.errors %} {{form.name(type="text" , class="form-control is-invalid" , placeholder="Name")}}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.name(type="text" , class="form-control" , placeholder="Name" )}}{% endif%}
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                  <i class="ion-ios-contact"></i>
                              </span>
                                </div>
                                {% if form.surname.errors %} {{form.surname(type="text" , class="form-control is-invalid" , placeholder="Surname")}}
                                <div class="invalid-feedback">
                                    {% for error in form.surname.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.surname(type="text" , class="form-control" , placeholder="Surname" )}}{% endif%}
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                                    <i class="ion-ios-contact"></i>
                                                </span>
                                </div>
                                {% if form.mail.errors %} {{form.mail(type="text" , class="form-control is-invalid" , placeholder="E-mail")}}
                                <div class="invalid-feedback">
                                    {% for error in form.mail.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.mail(type="text" , class="form-control" , placeholder="E-mail")}} {% endif%}

                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                                <i class="ion-ios-contact"></i>
                                            </span>
                                </div>
                                {% if form.username.errors %} {{form.username(type="text" , class="form-control is-invalid" , placeholder="Username")}}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.username(type="text" , class="form-control" , placeholder="Username" )}}{% endif%}
                            </div>

                            <div class="input-group mb-4">
                                <h4>
                                    <span class="typo-note pl-4 ml-5 mr-4 ">Gender:  </span></h4>

                                {% if form.gender.errors %} {% for subfield in form.gender %}
                                <div class="form-radio mr-4">
                                    <div class="radio">
                                        <label>
                                                        {{ subfield(type="radio", class="form-control is-invalid" ) }}
                                                        <span class="checkmark"></span>
                                                        <span class="fill-control-description">{{ subfield.label }} </span>
                                                        
                                                </label>

                                    </div>

                                </div>
                                {% endfor %}
                                <div hidden {{ form.gender(class="form-control is-invalid" ) }}></div>
                                <div class="invalid-feedback">
                                    {% for error in form.gender.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {% for subfield in form.gender %}
                                <div class="form-radio mr-4">
                                    <div class="radio">
                                        <label>
                                                            {{ subfield(type="radio", class="fill-control" ) }}
                                    
                                                            <span class="checkmark"></span>
                                                            <span class="fill-control-description"> {{ subfield.label }} </span>
                                                    </label>

                                    </div>
                                </div>
                                {% endfor %} {% endif %}


                            </div>


                            <div hidden id="slider-2" class="no-uicustom mb-4"></div>
                            <div hidden id="slider" class="no-uicustom"></div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                                    <i class="ion-ios-calendar"></i>
                                                </span>
                                </div>
                                <div class="input-text date">
                                    {% if form.date.errors %} {{form.date(type="date" , class="form-control is-invalid" , placeholder="Date of Birth")}}
                                    <div class="invalid-feedback">
                                        {% for error in form.date.errors %}
                                        <span>{{ error }}</span> {% endfor %}
                                    </div>
                                    {% else %} {{form.date(type="date" , class="form-control" , placeholder="Date of Birth")}} {% endif%}
                                </div>
                            </div>

                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                            <i class="ion-ios-lock"></i>
                          </span>
                                </div>
                                {% if form.password.errors %} {{form.password(type="text" , class="form-control is-invalid" , placeholder="Password")}}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.password(type="password" , class="form-control" , placeholder="Password" )}}{% endif%}
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                            <i class="ion-ios-lock"></i>
                          </span>
                                </div>
                                {% if form.confirmpassword.errors %} {{form.confirmpassword(type="text" , class="form-control is-invalid" , placeholder="Confirm Password")}}
                                <div class="invalid-feedback">
                                    {% for error in form.confirmpassword.errors %}
                                    <span>{{ error }}</span> {% endfor %}
                                </div>
                                {% else %} {{form.confirmpassword(type="password" , class="form-control" , placeholder="Confirm Password" )}}{% endif%}
                            </div>

                        </div>
                        <div class="footer text-center mb-2">
                            {{form.submit(class="btn btn-primary btn-round px-5")}}
                        </div>

                    </form>
                </div>


            </div>



            <!--<p><a href="/signin" class="btn btn-primary px-5 py-4 mb-2"><i class="ion-ios-cloud-download mr-2"></i>Sign in</a> 
						     <a href="#" class="btn btn-dark px-5 py-4 mb-2"><i class="ion-ios-code mr-2"></i>Sing up</a></p>-->

        </div>
    </div>
    </div>


    <!-- <div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div> -->
</section>


{% endblock content %}