{% extends "layout.html" %} {% block content %}
<section class="ftco-section ftco-section-2" id="navigationTabs">

    <div class="container mt-4">
        <div class="row mb-5">
            <div class="col-md-1">
                <form action="" method="POST">
                    <div class="row">
                        {% if tv.check_fav(current_user.id) == True %}
                        <button name="fav" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 span style="color:Red" class="heading-section mb-3"><i class="ion-ios-heart" ></i></h1></button> {% else %}
                        <button name="fav" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 class="heading-section mb-3"><i class="ion-ios-heart" ></i></h1</button>{% endif %}</div>
                </form>
                <form action="" method="POST">
                    <div class="row">
                        {% if tv.check_hate(current_user.id) == True %}
                        <button name="hate" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 span style="color:black" class="heading-section mb-3"><i class="ion-ios-heart-dislike" ></i></h1></button> {% else %}
                        <button name="hate" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 class="heading-section mb-3"><i class="ion-ios-heart-dislike"></i></h1</button>{% endif %}</div>
                </form>
                <form action="" method="POST">
                    <div class="row">
                        {% if tv.check_wish(current_user.id) == True %}
                        <button name="wish" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 span style="color:greenyellow" class="heading-section mb-3"><i class="ion-ios-add-circle" ></i></h1></button> {% else %}
                        <button name="wish" value='1' class="btn btn-icon btn-primary btn-lg btn-link"><h1 class="heading-section mb-3"><i class="ion-ios-add-circle"></i></h1</button>{% endif %}</div>
                </form>
            </div>
            <div class="col-lg-7 mb-5 mb-md-0">
                <h1 class="heading-section mb-3"><i class="ion-ios-film mr-2"></i>{{tv.title}}

                    <form id='ratef' action="" method="POST">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" onclick="document.getElementById('ratef').submit();" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" onclick="document.getElementById('ratef').submit();" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" onclick="document.getElementById('ratef').submit();" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" onclick="document.getElementById('ratef').submit();" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" onclick="document.getElementById('ratef').submit();" />
                            <label for="star1" title="text">1 star</label>

                        </div>
                    </form>
                    <br></h1>

                <div class="row no-gutters tabulation">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-fill d-md-flex d-block">
                            {% for season in range(1, tv.season+1) %} {% if season==1 %}
                            <li class="nav-item text-left">
                                <a class="nav-link active py-3" data-toggle="tab" href="#season{{season}}"><span class="ion-ios-information-circle mr-2"></span>Season {{season}}</a>
                            </li>
                            {% else %}
                            <li class="nav-item text-left">
                                <a class="nav-link  py-3" data-toggle="tab" href="#season{{season}}"><span class="ion-ios-information-circle mr-2"></span>Season {{season}}</a>
                            </li>
                            {% endif %} {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-7">
                        <div class="tab-content rounded">

                            {% for season in range(1, tv.season+1) %} {% if season == 1 %}
                            <div class="tab-pane container p-4 active" id="season{{season}}">
                                {% for episode in tv.print_episode(season)%}
                                <form action="" method="POST">
                                    <div>E{{episode.episode_n}}: {{episode.name}} {% if episode.checkEpisodeWatched(current_user.id,season)== True %}
                                        <button name="watched" class="btn btn-icon btn-primary btn-link"><i class="ion-ios-eye"></i></button> {% else %}
                                        <button name="watched" class="btn btn-icon btn-dark btn-link"><i class="ion-ios-eye"></i></button> {% endif %}
                                        <input type="hidden" name="episodeid" value="{{episode.id}}" />
                                    </div>
                                </form>{% endfor %}
                            </div> {% else %}
                            <div class="tab-pane container p-4 fade" id="season{{season}}">
                                {% for episode in tv.print_episode(season)%}
                                <form action="" method="POST">
                                    <div>E{{episode.episode_n}}: {{episode.name}} {% if episode.checkEpisodeWatched(current_user.id,season)== True %}
                                        <button name="watched" class="btn btn-icon btn-primary btn-link"><i class="ion-ios-eye"></i></button> {% else %}
                                        <button name="watched" class="btn btn-icon btn-dark btn-link"><i class="ion-ios-eye"></i></button> {% endif %}
                                        <input type="hidden" name="episodeid" value="{{episode.id}}" />
                                    </div>
                                </form>{% endfor %}
                            </div> {% endif %}{% endfor %}

                        </div>
                    </div>
                </div>
            </div>

            <div hidden id="slider-2" class="no-uicustom"></div>
            <div hidden id="slider" class="no-uicustom"></div>
            <div class="col-md-4 progress-circle">
                <div class="row mb-5"></div>
                <div class="row mb-5"></div>
                <div class="row mb-5"></div>
                <div class="row mb-5"></div>
                <div class="row">
                    <div class="col-md-4 mb-md-0 mb-4 ftco-animate">


                        <!-- Progress bar 1 -->
                        {% with process = tv.tv_percent(current_user.id) %}
                        <div class="progress mx-auto" data-value='{{process}}'>
                            <span class="progress-left">
                  <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                  <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h5">{{process}}<sup class="small">%</sup></div>
                            </div>
                        </div>
                        {% endwith %}
                        <!-- END -->

                    </div>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="heading-section mb-4"><i class="icon-comment mr-2"></i>Add Commit</h2>
                <form action="" method="POST">
                    <input hidden type="text" name="tvidforcommit" class="form-control" value={{tv.id}}>
                    <div class="form-group has-default">
                        <input type="text" name="header" class="form-control" placeholder="Header">
                    </div>
                    <div class="form-group has-default">

                        <input type="text" name="content" class="form-control" placeholder="Commit">

                    </div>
                    <div class="col-md-5 mb-5">
                        <button name="submitcommit" value='1' class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                {% for com in commit %}
                <div class="tabulation-2">
                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                        <li class="nav-item">
                            <div class="nav-link py-3"><span class="ion-ios-person mr-2"></span>{{com.username}}</div>
                        </li>

                        <li class="nav-item">
                            <form action="" method="POST">
                                <div class="nav-link py-2">
                                    {{com.com_like_number(current_user.id)}}

                                    <button name="like_update" value='1' class="btn btn-icon btn-primary btn-link"><i class="ion-ios-thumbs-up"></i></button>

                                    <button name="dislike_update" value='1' class="btn btn-icon btn-primary btn-link"><i class="ion-ios-thumbs-down"></i></button>
                                    <input hidden type="text" name="commitid" class="form-control" value="{{com.id}}" /> {{com.com_dislike_number(current_user.id)}}

                                </div>
                            </form>
                        </li>


                    </ul>
                    <div class="tab-content rounded">
                        <div class="tab-pane container p-1 active ml-2">
                            <h4> {{com.header}} </h4>

                        </div>
                    </div>
                    <div class="tab-content rounded">
                        <div class="tab-pane container p-3 active">
                            <p>{{com.content}}</p>
                        </div>
                    </div>
                    <ul class="nav nav-pills nav-fill d-md-flex d-block">
                        <li class="nav-item mb-2">
                            <a class="nav-link py-2"><span class="ion-ios-calendar mr-2"></span>{{com.date.year}}/{{com.date.month}}/{{com.date.day}}  {{com.date.hour}}:{{com.date.minute}}</a>
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>

        </div>


    </div>
</section>


{% endblock content %}