{% extends "layout.html" %} {% block content %}
<section class="ftco-section ftco-section-2" id="navigationTabs">

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-7 mb-5 mb-md-0">
                <h1 class="heading-section mb-3"><i class="ion-ios-film mr-2"></i>{{tv.title}}<br></h1>

                <div class="row no-gutters tabulation">
                    <div class="col-md-3">
                        <ul class="nav nav-pills nav-fill d-md-flex d-block">
                            {% for season in range(1, tv.season+1) %} {% if season==1 %}
                            <li class="nav-item text-left">
                                <a class="nav-link active py-3" data-toggle="tab" href="#{{season}}"><span class="ion-ios-information-circle mr-2"></span>Season {{season}}</a>
                            </li>
                            {% else %}
                            <li class="nav-item text-left">
                                <a class="nav-link  py-3" data-toggle="tab" href="#{{season}}"><span class="ion-ios-information-circle mr-2"></span>Season {{season}}</a>
                            </li>
                            {% endif %} {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-8">
                        <div class="tab-content rounded">

                            {% for season in range(1, tv.season+1) %} {% if season == 1 %}
                            <div class="tab-pane container p-4 active" id="{{season}}">
                                {% for episode in tv.print_episode(season)%}
                                <div>E{{episode.episode_n}}: {{episode.name}}
                                    <a href="#" class="btn btn-icon btn-dark btn-link" role="button"><i class="ion-ios-eye-off"></i></a></div> {% endfor %}
                            </div>
                            {% else %}
                            <div class="tab-pane container p-4 fade" id="{{season}}">
                                {% for episode in tv.print_episode(season)%}
                                <div>E{{episode.episode_n}}: {{episode.name}}
                                    <a href="#" class="btn btn-icon btn-dark btn-link" role="button"><i class="ion-ios-eye-off"></i></a></div> {% endfor %}
                            </div>
                            {% endif %} {% endfor %}
                        </div>
                    </div>

                </div>
            </div>

            <div hidden id="slider-2" class="no-uicustom mb-4"></div>
            <div hidden id="slider" class="no-uicustom"></div>
            <div class="col-md-2 progress-circle">
                <div class="col-md-4 mb-md-0 mb-4 ftco-animate">
                    <div class="">

                        <!-- Progress bar 1 -->
                        <div class="progress mx-auto" data-value='90'>
                            <span class="progress-left">
                  <span class="progress-bar border-primary"></span>
                            </span>
                            <span class="progress-right">
                  <span class="progress-bar border-primary"></span>
                            </span>
                            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                <div class="h5">90<sup class="small">%</sup></div>
                            </div>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>

    </div>
</section>

{% endblock content %}