{% extends "layout.html" %} {% block content %}


<section class="hero-wrap" style="background-image: url(/static/images/background.png);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row description align-items-center justify-content-center">
            <div class="col-md-8 text-center">
                <div class="text">
                    <h2>TRACE</h2>
                    <h4 class="mb-5">A tracking system for your books and TV series.</h4>
                    <p class="text-muted mt-3">Contribute Our Database</p>
                    <p><a href="/addtv" class="btn btn-outline-primary px-5 py-4 mb-2"><i class="ion-ios-film mr-2"></i>Add TV Series</a></p>

                </div>
            </div>
        </div>
    </div>
    <div class="mouse">
        <a href="#navigationTabs" class="mouse-icon">
            <div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
        </a>
    </div>
</section>



<section class="ftco-section ftco-section-2" id="navigationTabs">


    <div class="container">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2">
                <form id='arrange' action="" method="GET">
                    <div class="dropdown d-inline-block">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sorting
                      </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" name="arrange" value="sortbyaz" href="/tv/sortbyaz">Sort by A-Z</a>
                            <a class="dropdown-item" name="arrange" value="sortbyscore" href="/tv/sortbyscore">Sort by Score</a>
                            <a class="dropdown-item" name="arrange" value="sortbyyear" href="/tv/sortbyyear">Sort by Year</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            {% for item in tv %}
            <div class="col-lg-6 mb-5 mb-md-0">
                <form id="tv-form{{item.id}}" action="" method="POST">
                    <input type="hidden" name="form_id" value="{{item.id}}" />
                    <h2 class="heading-section mb-3"> <a class="text-white-50" href="javascript:{}" onclick="document.getElementById('tv-form{{item.id}}').submit();">
                        {% if item.tv_percent(current_user.id) == 100.0 %}
                        <i span style="color:green" class="ion-ios-film mr-2"></i>
                        {% elif item.tv_percent(current_user.id)== 0.0 %}
                        <i span style="color:red"  class="ion-ios-film mr-2"></i>
                        {% else %}<i span style="color:yellow"  class="ion-ios-film mr-2"></i>
                        {% endif %}
                        {{item.title}}
                        <br></a></h2>

                </form>

                <div class="row no-gutters tabulation">
                    <div class="col-md-4">
                        <ul class="nav nav-pills nav-fill d-md-flex d-block">
                            <li class="nav-item text-left">
                                <a class="nav-link active py-3" data-toggle="tab" href="#info{{item.id}}"><span class="ion-ios-information-circle mr-2"></span> Information</a>
                            </li>
                            <li class="nav-item text-left">
                                <a class="nav-link py-3" data-toggle="tab" href="#season{{item.id}}"><span class="ion-ios-list mr-2"></span> Seasons </a>
                            </li>

                        </ul>
                    </div>

                    <div class="col-md-8">
                        <div class="tab-content rounded">
                            <div class="tab-pane container p-4 active" id="info{{item.id}}">
                                <p>Release Date: {{item.year}}</p>
                                <p>Genre: {{item.genre}}</p>
                                <p>Channel: {{item.channel}}</p>
                                <p>Language: {{item.language}}</p>
                                <p>Vote: {{item.vote}}</p>
                                <p>Score: {{item.score}}</p>
                            </div>
                            <div class="tab-pane container p-4 fade" id="season{{item.id}}">
                                {% for season in range(1, item.season+1) %} {% with progress = item.season_percent(current_user.id,season) %}
                                <div>Season {{season}}
                                    <form id="tvid{{item.id}}" action="" method="POST">
                                        {% if progress== 100.0 %}
                                        <button name="watched" id="button{{item.id}}.{{season}}" class="btn btn-icon btn-primary btn-link" onclick="change('button{{item.id}}.{{season}}')"><i class="ion-ios-eye"></i></button> {% else %}
                                        <button name="watched" id="button{{item.id}}.{{season}}" class="btn btn-icon btn-dark btn-link" onclick="change('button{{item.id}}.{{season}}')"><i class="ion-ios-eye"></i></button> {% endif %}
                                        <input type="hidden" name="tvid" value="{{item.id}}" />
                                        <input type="hidden" name="sezon" value="{{season}}" />
                                    </form>

                                    <script>
                                        function change(x) {
                                            var elem = document.getElementById(x);

                                            if (elem.className == "btn btn-icon btn-dark btn-link") {
                                                elem.className = "btn btn-icon btn-primary btn-link";
                                            } else {
                                                elem.className = "btn btn-icon btn-dark btn-link";
                                            }
                                        }
                                    </script>

                                    <div class="progress mb-2" style="height: 15px;">

                                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
                                            <span>{{progress}}% Complete</span>
                                        </div>
                                        {% endwith %}
                                    </div>
                                </div>


                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>



{% endblock content %}